{% extends 'base.html' %}
{% comment %} Template per comunicare l'esito della cancellazione di un giorno {% endcomment %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Cancellazioen giorno con id: {{object.id}} {% endblock %} 

{% block header1 %}
  <h1>Cancellazione giorno {{object.pk}}</h1>
{% endblock %}

{% block content %} 

{% if "NO_ERRORS" == view.errore %}
<div class="alert alert-success" role="alert">
  Cancellato correttamente il giorno con id {{ object.pk }} per il campo con id {{ object.campo_id }}
{% else %}
<div class="alert alert-danger" role="alert">
  Cancellazione non eseguita, per il motivo:  {{ view.errore }}
{% endif %}
</div>


{% endblock %}
