{% extends 'base.html' %}
{% comment %} Template per comunicare l'esito della cancellazione di una prenotazione {% endcomment %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Restituzione di {{object}} {% endblock %} 

{% block header1 %}
  <h1>Prenotazione con id {{object.pk}}</h1>
{% endblock %}

{% block content %} 

{% if "NO_ERRORS" == view.errore %}
<div class="alert alert-success" role="alert">
  Prenotazione con id {{ object.pk }} è stata cancellata correttamente
{% elif "RETARD" == view.errore %}
<div class="alert alert-warning" role="alert">
Cancellazione avvenuta con successo, ma verra trattenuta una caparra dal valore di  :  {{ object.ora.giorno.campo.caparra  }} €
{% else %}
<div class="alert alert-danger" role="alert">
  Cancellazione non eseguita, per il motivo:  {{ view.errore }}
{% endif %}
</div>


{% endblock %}
