{% extends 'base.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Dettagli di {{object.indirizzo}} {% endblock %} 

{% block header1 %}
  <h1> {{object}}</h1>
{% endblock %}

{% block content %} 

<br>
<div class="card">
  <div class="card-header">
     Campo id:  {{ object.pk }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ object.indirizzo }}  </h5>
    <p class="card-text"> 
      
    </p>
    
    <br>
    
    {%for g in campo.giorno_set.all  %}
    
    {%for o in g.ora_set.all  %}
    
    {%endfor%}
    <ul class="list-group">
      
      <li class="list-group-item"> <h5>{{ g }} </h5>  
        <div class="container my-4">
          
          <p class="font-weight-bold">Orari: </p>
          <ul>
            {%for o in g.ora_set.all  %}
            <li>{{ o }}</li>
            {%endfor%}
            
          </ul>
        
        </div>
        {% if "Dirigente" in user.groups.all.0.name or user.is_staff %}
        <hr class="my-5">
        <a href="{% url 'gestione:aggiungiora' g.campo_id g.id %}" class="btn btn-secondary" role="button" aria-pressed="true">Aggiungi Orari</a>
        
        {% endif %}
        
       
      </li>
      

    </ul>
    <br>
    <br>
   {%endfor%}
    <br>
    
    {% if "Dirigente" in user.groups.all.0.name or user.is_staff %}
      <a href="{% url 'gestione:aggiungigiorno' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">Aggiungi Giorno</a>
      {% endif %}
      <a href="{% url 'gestione:selezionadata' object.pk %}" class="btn btn-outline-success" role="button" aria-pressed="true">Verifica Disponibilita</a>
  
  </div>
</div>


<br>


{% endblock %}
