{% extends 'base.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Dettagli di {{object.indirizzo}} {% endblock %} 

{% block header1 %}
  <h1> {{object}}</h1>
{% endblock %}

{% block content %} 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h3 class="my-4 ">Campo di calcio a {{ campo.giocatori }}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid"  style="border-radius: 1%;" src="http://127.0.0.1:8000/{{ campo.immagine.url }}" alt="">
    </div>

    <div class="col-md-4">
      <h4 class="my-3">Orari Apertura</h4>
      <ul>
      {%for g in campo.giorno_set.all  %}
      <li>
        <div class="row">
          <div class="col">{{ g }}
          </div>
          <div class="col">
            {% if "Dirigente" in user.groups.all.0.name or user.is_staff %}
            <a href="{% url 'gestione:aggiungiora' g.campo_id g.id %}" aria-pressed="true"> Agg. Orari</a>

          {% endif %}
          </div>
          <div class="col">
            {% if "Dirigente" in user.groups.all.0.name or user.is_staff %}
            <a href="{% url 'gestione:eliminagiorno' g.id %}"  aria-pressed="true"> Elim. Giorno </a>

          {% endif %}
          </div>
        </div>
       
        <ul>
          {%for o in g.ora_set.all  %}
          <li>{{ o }}</li>
          {%endfor%}
          
        </ul>
      </li>
      
      {% endfor %}
    </ul>
    

    </div>
    
  </div>
  <div class="row">
    <h3 class="my-3">Informazioni Campo</h3>
    <p class="card-text">Campo di calcio di {{ campo.mq }} mq. a {{ campo.comune }}  {{ campo.cap }}, ideale per  un {{ campo.giocatori }} vs {{ campo.giocatori }}, un campo in {{ campo.tipo_erba }}</p>
    <p>Ricordati inoltre della promozione per la quale ogni 3 prenotazioni hai diritto a un 15% di sconto</p>
    <p>
    {% if "1" == view.sconto %}
    stato attuale punti 1/3 !
    {% elif  "2" == view.sconto %}
    stato attuale punti 2/3 !
    {% else %}
    Complimenti Hai diritto al 15% di sconto !
    {% endif %}
    </p>
  </div>
  <div class="row">
    <div class="col">
      {% if "3" == view.sconto %}
      <h4 class="mt-3">
        € {{ campo.totale_scontato }} <small class="text-success">(15%off)</small>
      </h4>
      {% else %}
      <h4 class="mt-3">
        € {{ campo.totale }} 
      </h4>
      {% endif %}
      
      <a href="{% url 'gestione:selezionadata' object.pk %}" class="btn btn-success" role="button" aria-pressed="true">Verifica Disponibilita</a>            
      {% if "Dirigente" in user.groups.all.0.name or user.is_staff %}
      <a href="{% url 'gestione:aggiungigiorno' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">Aggiungi Giorno</a>
      <a href="{% url 'gestione:eliminacampo' object.pk %}" class="btn btn-danger" role="button" aria-pressed="true">Elimina Campo</a>
      {% endif %}
      
    
    </div>
  </div>
  <!-- /.row -->
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h3 class="box-title mt-5">Scheda Campo</h3>
    <div class="table-responsive">
        <table class="table table-striped table-product">
            <tbody>
                <tr>
                    <td width="390">Indirizzo</td>
                    <td> {{ campo.indirizzo }} </td>
                </tr>
                <tr>
                  <td>Comune</td>
                  <td> {{ campo.comune }} </td>
                </tr>
                <tr>
                    <td>CAP</td>
                    <td> {{ campo.cap }} </td>
                </tr>
                <tr>
                    <td>Prezzo a testa</td>
                    <td> {{ campo.prezzo }} €</td>
                </tr>
                <tr>
                  <td>Prezzo gruppo</td>
                  <td> {{ campo.totale }} €</td>
              </tr>
                <tr>
                    <td>Caparra</td>
                    <td> {{ campo.caparra }} €</td>
                </tr>
                <tr>
                    <td>Mq.</td>
                    <td> {{ campo.mq }} </td>
                </tr>
                <tr>
                    <td>Giocaotri Per Squadra</td>
                    <td> {{ campo.giocatori }} </td>
                </tr>

                <tr>
                  <td>Giocaotri Totali</td>
                  <td> {% widthratio campo.giocatori 1 2 %} </td>
              </tr>
                
                <tr>
                    <td>Tipo Campo</td>
                    <td> {{ campo.tipo_erba }} </td>
                </tr>
                <tr>
                    <td>Media Valutazione</td>
                    <td> {{ campo.rating_avg }}/5 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
  <h3 class="box-title mt-5">Recensioni</h3>
  <div class="card shadow-0 border" style="background-color: #f0f2f5;">
    <div class="card-body p-4">
      {%for r in campo.campo_recensito.all  %}
      <div class="card mb-4">
        <div class="card-body">
          <p>{{ r.descrizione }}</p>

          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              {% load static %}
              <img src={% static 'img/user.jpg' %} alt="avatar" width="25"
                height="25" />
              <p class="small mb-0 ms-2">{{ r.utente }}</p>
            </div>
            <div class="d-flex flex-row align-items-center">
              {% for i in '01234'|make_list %}
                  {% if forloop.counter < r.stelle %}
                  <span class="fa fa-star checked"></span>
                  {% else %}
                  <span class="fa fa-star"></span>

                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

     
  </div>
</div>

</div>
</div>

<br>


{% endblock %}
