{% extends 'base.html' %}
{% comment %} Template per comunicare l'esito di una prenotazione {% endcomment %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Restituzione di {{object}} {% endblock %} 

{% block header1 %}
  <h1>Prenotazione con id {{object.pk}}</h1>
{% endblock %}

{% block content %} 

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Prenotazione avvenuta con successo!</h4>
    <p>La prenotazone e' avvenuta con successo, ricordiamo che puoi annullare la prenotazione senza penali fino al giorno precedente, in caso contrario verra' applicata una caparra pari a {{object.ora.giorno.campo.caparra}} €</p>
    <hr>
    {% if "SI" == view.sconto %}
    <p class="mb-0">Complimenti! e' la 3 prenotazione e' stato applicato uno sconto pari al 15%!</p>
    <hr>
    
    <p class="mb-0">totale: {{object.ora.giorno.campo.totale_scontato}} €</p>
    {% else %}
    <p class="mb-0">totale: {{object.ora.giorno.campo.totale}} €</p>
    {% endif %}
  </div>


{% endblock %}
