{% extends 'base.html' %}

{% block title %} Home di Gestione {% endblock %} 

{% block header1 %}
  <h1>Home di Gestione</h1>
  <p>Welcome 
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p> 
{% endblock %}

{% block content %} 

<h2>Cosa vuoi fare oggi?</h2>

<br>

<div class="list-group">
  <a href="{% url 'gestione:home' %}" class="list-group-item list-group-item-info">Cerca un campo</a>
  <a href="{% url 'gestione:listacampi' %}" class="list-group-item list-group-item-info">Lista dei campi</a>
  <a href="{% url 'gestione:home' %}" class="list-group-item list-group-item-info">Le mie prenotazione</a>
</div>

<br>

{% if user.is_staff %}
<br>
<a  class="list-group-item list-group-item-danger">Iscrivi un dirigente</a>
<br>
{% endif %}


{% if "Bibliotecari" in user.groups.all.0.name or user.is_staff %}
<br>
<a href="{% url 'gestione:home' %}" class="list-group-item list-group-item-warning">Situazione Campi</a>
<a href="{% url 'gestione:home' %}" class="list-group-item list-group-item-warning">Aggiungi un Campo</a>
<a href="{% url 'gestione:home' %}" class="list-group-item list-group-item-warning">Aggiungi una disponibil9ta</a>
<br>
{% endif %}


{% endblock %}