{% extends 'base.html' %}

{% block title %} Lista dei campi{% endblock %} 

{% block header1 %}
  <h1>Lista dei Campi</h1>
{% endblock %}

{% block content %} 

<h2> {{ view.titolo }} {{ object_list.count }} campi </h2>

<br>

{% for c in object_list %}
<br>
<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">calcio a {{ c.giocatori }}</h5>
    <p class="card-text">Un campo di {{ c.societa }} in {{ c.indirizzo }} mq, nel Comune di {{ c.comune }}</p>
    <p class="card-text"> {{ c.prezzo }} €/h </p>
   
    <a  href="{% url 'gestione:detailcampo' c.pk %}" class="btn btn-info">
    Dettagli</a> 

  </div>
</div>

<br>
{%endfor%}

<br>

{% endblock %}