{% extends 'base.html' %}


{% block title %} Home di {{user.username}} {% endblock %} 

{% block header1 %}
  <h1>Home di {{user.username}} </h1>
  <p>Welcome 
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p> 
{% endblock %}

{% block content %} 

<h2>Risulta che hai correntemente {{ prenotazione.count }} prenotazioni  </h2>

<p> Ulteriori dettagli </p>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">data</th>
      <th scope="col">ora</th>
      <th scope="col">campo</th>
      {% if oggi != None %}
      <th scope="col">azione</th>
      {% else %}
      <th scope="col">utente</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
{% for p in prenotazione %}
<br>

  
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{p.data}}</td>
      <td>{{p.ora}}</td>
      <td>{{p.ora.giorno.campo}}</td>
      <td>
        {% if p.data >= oggi %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Cancella
        </button>
        {% elif oggi != None %}
        <a href="{% url 'gestione:aggiungirecensione' p.ora.giorno.campo_id %}" class="btn btn-success" role="button" aria-pressed="true">Lascia Feedback</a>
        {% else  %}
        {{p.utente}}
        {% endif %}
    </tr>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Conferma Cancellazione</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            conferma la cancellazione della prenotazione, ricorda questa non e' un opzione reversibile, e se stai cancellando la prenotazione nella stessa giornata dovrai pagare la penale pari al 20%
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'gestione:eliminaprenotazione' p.id %}" class="btn btn-danger" role="button" aria-pressed="true">Cancella</a></td>

          </div>
        </div>
      </div>
    </div>

{%endfor%}
</tbody>

</table>
<br>

<br>

{% endblock %}