{% extends 'base.html' %}


{% block title %} Situazione Campi {% endblock %} 

{% block header1 %}
  <h1>Loggato come {{user.username}} </h1>
  <p>Welcome 
     {{ user.username }}
  </p> 
{% endblock %}

{% block content %} 

<h2> Stato attuale dei campi attualmente gestiti </h2>

<br>

{% for c in campo  %}
<br>
<div class="card">
  <div class="card-header">
     Campo con id {{ c.pk }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ c.indirizzo }} a {{c.giocatori}} </h5>
    <p class="card-text"> prezzso {{ c.prezzo }} mq. {{ c.mq }} </p>
    
    <a href="" class="btn btn-info"> Gestisisci Campo </a> 

  </div>
</div>
<br>
{%endfor%}

<br>

{% endblock %}